/* ------------------------------------------------

  ---------------------
  - TABLE OF CONTENTS -
  ---------------------

      * WHITESPACE REMOVAL
      * HEADER
      * MAIN
        - Error Message
        - Win Count
        - User GuessInput / Top Buttons
        - Min / Max Input
        - Guess Display
        - Reset Button

  ------------------
  -  COLOR PALETTE -
  ------------------

      #090909 - Almost Black
      #ED458B - Header Pink
      #EB008B - Body Pink
      #FFFFFF - White
      #404041 - Dark Gray
      #D0D2D3 - Light Gray
       - Blue

      https://coolors.co/eb008b-0a2463-3e92cc-fffaff-1e1b18

------------------------------------------------ */

/* --------------------
    WHITESPACE REMOVAL
----------------------- */

/* Removes whitespace on left and right side of header */
body {
  margin: 0;
}

/* Removes whitespace on top of header */
h1 {
  margin-top: 0;
}

/* -----------
    HEADER
----------- */

.header-title {
  background-color: #404041;
  color: #E6E7E8;
  font-weight: 300;
  text-align: center;
  padding: 20px;
  font-size: 60px;
}

.bold {
  font-weight: 700;
}

.pink-header {
  color: #ED458B;
}

/* --------
    MAIN
--------- */

main {
  width: 100%;
}

h1, h2, input, button, p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

button {
  color: #FFFFFF;
  background-color: #929497;
  width: 23%;
  border: none;
  border-width: 2px 4px;
  border-radius: 40px;
}

button:hover {
  background-color: #EB008B;
}

button:disabled {
  background-color: #D0D2D3;
}

fieldset {
  border: none;
}

.pink-body {
  color: #EB008B;
}

/* Win Count */

.win-count-display {
  font-size: 30px;
  visibility: hidden;
  color: white;
  width: 50%;
  margin-left: 50%;
  align: right;
  padding: 3px;
  z-index: -1;
  margin-top: -5px;
}

/* --- Error Message --- */

.error-message-display {
  height: 35px;
  font-size: 20px;
  visibility: hidden;
}

.error-message {
  color: white;
  font-size: 30px;
  text-align: center;
  display: inline-block;
  width: 50%;
  background-color: FireBrick;
  padding: 3px;
}

/* --- User Input / Top Buttons --- */

.range-inputs {
  border: black;
  margin-top: 10px;
  margin: auto;
  font-size: 16px;
  text-align: center;
  visibility: hidden;
}

.form-input-and-top-buttons {
  text-align: center;
}

.min-input, .max-input {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-top: 20px;
}

.button-set-range {
  display: block;
  margin: auto;
  margin-top: 20px;
  font-size: 18px;
}

.form-input {
  font-size: 25px;;
  margin-top: 10px;
  width: 50%;
}

.top-buttons {
  margin: auto;
}

.top-buttons button {
  margin-top: 10px;
  font-size: 24px;
}

.button-clear {
    margin-left: 4%;
  }

/* --- Guess Display --- */

.last-guess, .guess-outcome-text {
  font-size: 30px;
  text-align: center;
}

.last-guess {
  margin-top: -5px;
}

.user-guess-display {
  font-size: 15em;
  text-align: center;
  margin: -60px;
  visibility: hidden;
}

.guess-outcome-text {
  visibility: hidden;
}

/* --- Reset Button --- */

.reset {
  text-align: center;
}


.button-reset {
  font-size: 1.2em;
  width: 50%;
}
